github "ReactiveCocoa/ReactiveCocoa" == 2.5
github "tetriscode/libgpkgios" "master"
github "boundlessgeo/geopackage-wkb-ios" "develop"
github "frankrowe/MQTT-Client-Framework" "master"
github "tetriscode/Proj4-iOS" == 4.9.2
github "tetriscode/CocoaLumberjack" "master"
